*.loa
*.log
*.lot
*.lof
*.aux
*.out
*.toc
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml
*.thm
*.gnuplot
*.synctex.gz
*.synctex.gz(busy)
*.auxlock
*.pdf
auto/
*~
*.dvi
*.4*
*.idv
*.lg
*.tmp
*.xref
cv*.png
*.tpt
.Rproj.user
*.tex
*.docx
*.Rproj